trigger: none


pool: sirinewpool
 

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'
  
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'meraprinciple'
    backendAzureRmStorageAccountName: 'deekshasa'
    backendAzureRmContainerName: 'deeksha-con'
    backendAzureRmKey: 'siri.tfstate'